<div class="content-wrapper">
  <section class="content-header">
    <h1>Cadastro de Novos Contatos</h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href=""><i class="fa fa-address-book"></i> Inclusão de Cadastro</a></li>
      <li class="active"><i class="fa fa-user"></i> Cadastro de Contato</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12 alert" ng-class="exibeAlerta()" role="alert" ng-if="showAlertBox">
        <i class="fa fa-fw" ng-class="typeIconMessage()"></i> {{alertMessage}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Campos Principais</h3>
          </div>
          <form role="form">
            <div class="box-body row">
              <div class="col-md-12" id="accordion">
                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingOne" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h3 class="box-title">Empresa <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseOne" class="box-body collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="col-md-6 form-group">
                      <label>Contato de Empresa</label>
                      <br>
                      <label><input type="radio" name="optContato"> Sim</label> &nbsp;&nbsp;&nbsp;
                      <label><input type="radio" name="optContato"> Não</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Empresa</label>
                      <select class="form-control" ng-disabled="empresanao" ng-model="contatoEmpresa"></select>
                    </div>
                  </div>
                </div>

                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingTwo" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3 class="box-title">Dados Pessoais <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseTwo" class="box-body collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Tratamento</label>
                      <select class="form-control" ng-model="tipoTratamento" ng-options="tratamento as tratamento.tratamento for tratamento in tipoTratamento"></select>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Nome Completo</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 col-xs-12 form-group">
                      <label>Sexo</label>
                      <br>
                      <label><input type="radio" name="optSexo"> Masculino</label> &nbsp;&nbsp;&nbsp;
                      <label><input type="radio" name="optSexo"> Ferminino</label>
                    </div>
                    <br>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Cargo</label>
                      <select class="form-control">
                        <option value="0">Selecione</option>
                      </select>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Área</label>
                      <select class="form-control">
                        <option value="0">Selecione</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingThree" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h3 class="box-title">Endereço <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseThree" class="box-body collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>CEP</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="00000-000">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-info btn-flat">Não sei meu CEP</button>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>País</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-4 col-xs-12">
                          <label>Tipo Logradouro</label>
                          <select class="form-control">
                            <option value="0">Selecione</option>
                          </select>
                        </div>
                        <div class="col-md-8 col-xs-12 ">
                          <label>Logradouro</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 ">
                          <label>Número</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-xs-12 ">
                          <label>Complemento</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Bairro</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 ">
                          <label>Cidade</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-xs-12 ">
                          <label>UF</label>
                          <select class="form-control">
                            <option value="0">Selecione</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingFour" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h3 class="box-title">Contato <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseFour" class="box-body collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Internacional</label>
                      <br>
                      <label><input type="radio" name="optint"> Sim</label> &nbsp;&nbsp;&nbsp;
                      <label><input type="radio" name="optint"> Não</label>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>DDI</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Telefone 1</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Telefone 2</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Celular 1</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Celular 2</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Fax</label>
                          <div class="row">
                            <div class="col-md-2 ">
                              <input type="text" class="form-control" placeholder="00">
                            </div>
                            <div class="col-md-6 ">
                              <input type="text" class="form-control" placeholder="00000-0000">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>E-mail 1</label>
                          <input type="text" class="form-control" placeholder="email@provedor.com.br">
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Validar E-mail 1</label>
                          <br>
                          <label><input type="radio" name="opte1"> Sim</label> &nbsp;&nbsp;&nbsp;
                          <label><input type="radio" name="opte1"> Não</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>E-mail 2</label>
                          <input type="text" class="form-control" placeholder="email@provedor.com.br">
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Validar E-mail 2</label>
                          <br>
                          <label><input type="radio" name="opte2"> Sim</label> &nbsp;&nbsp;&nbsp;
                          <label><input type="radio" name="opte2"> Não</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Email Output</label>
                      <br>
                      <input type="checkbox" id="chkOutput">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>LinkedIn</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Facebook</label>
                          <input type="text" class="form-control" placeholder="https://www.facebook.com/nome-usuario">
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Foto</label>
                          <input type="file">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingFive" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h3 class="box-title">Demais Dados <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseFive" class="box-body collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>CPF</label>
                        <input type="text" class="form-control" placeholder="000.000.000-00">
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Data de Nascimento</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="datepickerDataNasc">
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Seleção para Comunicação</label>
                        <select class="form-control" ng-model="selecaoComunicacao" ng-options="selecao as selecao.comunicacao for selecao in selecaoComunicacao"></select>
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Nome Crachá</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Classificação</label>
                        <select class="form-control"></select>
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Motivo Inativação</label>
                        <select class="form-control">
                          <option value="0">Selecione</option>
                        </select>
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Data Inativação</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="datepickerInativacao">
                        </div>
                      </div>
                      <div class="col-md-6 col-xs-12 form-group">
                        <label>Observação</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-md-12 col-xs-12 form-group">
                        <div class="row">
                          <div class="col-md-6 col-xs-12 form-group">
                            <label>Ativo</label>
                            <br>
                            <label><input type="radio" name="optradio"> Sim</label> &nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="optradio"> Não</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box box-info box-solid card">
                  <div class="box-header with-border card-header collapsed" id="headingSix" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h3 class="box-title">Dados Secretária <i class="fa fa-angle-down"></i></h3>
                  </div>
                  <div id="collapseSix" class="box-body collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Nome Secretária</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>DDI</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Email Secretária</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Telefone 1</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Observação</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Telefone 2</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Sexo</label>
                      <br>
                      <label><input type="radio" name="chkSexoSecretaria"> Masculino</label> &nbsp;&nbsp;&nbsp;
                      <label><input type="radio" name="chkSexoSecretaria"> Ferminino</label>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                      <label>Celular 1</label>
                      <div class="row">
                        <div class="col-md-2 ">
                          <input type="text" class="form-control" placeholder="00">
                        </div>
                        <div class="col-md-6 ">
                          <input type="text" class="form-control" placeholder="00000-0000">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                          <label>Fax</label>
                          <div class="row">
                            <div class="col-md-2 ">
                              <input type="text" class="form-control" placeholder="00">
                            </div>
                            <div class="col-md-6 ">
                              <input type="text" class="form-control" placeholder="00000-0000">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save fa-fw"></i> Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>