<div class="content-wrapper">
  <section class="content-header">
    <h1>Visualização de Campanhas</h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href=""><i class="fa fa-table"></i> Tabelas</a></li>
      <li class="active"><i class="fa fa-bullhorn"></i> Campanhas - Status Telemarketing</li>
    </ol>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-header with-border text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-campanha" ng-click="novaCampanha()">
          <i class="fa fa-plus fa-fw"></i> Incluir Nova Campanha
        </button>
      </div>
      <div class="box-body">
        <table id="tblCampanha" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Campanha</th>
              <th>Status</th>
              <th>Alterar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campanha in listaCampanha">
              <td>{{campanha.id}}</td>
              <td>{{campanha.campanha | uppercase}}</td>
              <td>{{campanha.status | uppercase}}</td>
              <td><a href="" ng-click="editarCampanha(campanha.id, campanha.campanha, campanha.status)" data-toggle="modal" data-target="#modal-campanha"><i class="fa fa-edit"></i></a></td>
              <td><a href="" ng-click="excluirCampanha(campanha.id)" data-toggle="modal" data-target="#excluir-campanha"><i class="fa fa-times"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="modal fade" id="modal-campanha">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-12 form-group" ng-show="false">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="idCampanha">
          </div>
          <div class="col-md-12 form-group">
            <label>Campanha</label>
            <select class="form-control">
              <option value=""></option>
              <option ng-repeat="campanha in campanhas" value="{{campanha.id}}" ng-selected="campanha.descricao == tipoCampanha">{{campanha.descricao}}</option>
            </select>
          </div>
          <div class="col-md-12 form-group">
            <label>Status TMK</label>
            <select class="form-control">
              <option value=""></option>
              <option ng-repeat="status in status" value="{{status.id}}" ng-selected="status.descricao == tipoStatus">{{status.descricao}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="fecharModal()">Fechar</button>
          <button type="button" class="btn btn-primary" ng-click="salvarCampanha()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="excluir-campanha">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body">
          <h3>Tem certeza?</h3>
          <p>Esta ação não poderá ser desfeita após a confirmação.</p>
          <div class="col-md-12 form-group" ng-show="false">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="idCampanha">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" ng-click="confirmarExcluirCampanha(idCampanha)">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div>