<div class="content-wrapper">
  <section class="content-header">
    <h1>Visualização de Categoria de Empresa</h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href=""><i class="fa fa-table"></i> Tabelas</a></li>
      <li class="active"><i class="fa fa-building"></i> Categoria de Empresa</li>
    </ol>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-header with-border text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-categoria" ng-click="novaCategoria()">
          <i class="fa fa-plus fa-fw"></i> Incluir Nova Categoria de Empresa
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sub-categoria" ng-click="novaSubCategoria()">
          <i class="fa fa-plus fa-fw"></i> Incluir Nova Sub-Categoria de Empresa
        </button>
      </div>
      <div class="box-body">
        <div class="box box-info box-solid card">
          <div class="box-header with-border card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">
            <h3 class="box-title">Categorias <i class="fa fa-angle-down"></i></h3>
          </div>
          <div id="collapseOne" class="box-body collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <table id="tblCategoria" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Categoria</th>
                  <th>Alterar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="categoria in listaCategoria">
                  <td>{{categoria.id}}</td>
                  <td>{{categoria.categoria | uppercase}}</td>
                  <td><a href="" ng-click="editarCategoria()" data-toggle="modal" data-target="#modal-categoria"><i
                        class="fa fa-edit"></i></a></td>
                  <td><a href="" ng-click="excluirCategoria()" data-toggle="modal" data-target="#excluir-categoria"><i
                        class="fa fa-times"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="box box-info box-solid card">
          <div class="box-header with-border card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <h3 class="box-title">Sub-Categorias <i class="fa fa-angle-down"></i></h3>
          </div>
          <div id="collapseTwo" class="box-body collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <table id="tblSubCategoria" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Categoria</th>
                  <th>Sub-Categoria</th>
                  <th>Alterar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="subCategoria in listaSubCategoria">
                  <td>{{subCategoria.id}}</td>
                  <td>{{subCategoria.categoria | uppercase}}</td>
                  <td>{{subCategoria.subCategoria | uppercase}}</td>
                  <td><a href="" ng-click="editarSubCategoria()" data-toggle="modal" data-target="#modal-sub-categoria"><i class="fa fa-edit"></i></a></td>
                  <td><a href="" ng-click="excluirSubCategoria()" data-toggle="modal" data-target="#excluir-sub-categoria"><i class="fa fa-times"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="modal-categoria">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-12" ng-show="false">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="idCategoria">
          </div>
          <div class="col-md-12">
            <label>Categoria</label>
            <input type="text" class="form-control" ng-model="descricaoCategoria">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="fecharModal()">Fechar</button>
          <button type="button" class="btn btn-primary" ng-click="salvarCategoria()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-sub-categoria">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-12" ng-show="false">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="idSubCategoria">
          </div>
          <div class="col-md-12">
            <label>Categoria</label>
            <select class="form-control">
              <option value=""></option>
              <option ng-repeat="categoria in listaCategoria" value="{{categoria.id}}">{{categoria.categoria | uppercase}}</option>
            </select>
          </div>
          <div class="col-md-12">
            <label>Sub-Categoria</label>
            <input type="text" class="form-control" ng-model="subCategoria">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="fecharModal()">Fechar</button>
          <button type="button" class="btn btn-primary" ng-click="salvarSubCategoria()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="excluir-categoria">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body">
          <h3>Tem certeza?</h3>
          <p>Esta ação não poderá ser desfeita após a confirmação.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" ng-click="confirmarExcluirCategoria()">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="excluir-sub-categoria">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{tituloModal}}</h4>
        </div>
        <div class="modal-body">
          <h3>Tem certeza?</h3>
          <p>Esta ação não poderá ser desfeita após a confirmação.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" ng-click="confirmarExcluirSubCategoria()">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div>