<div class="register-box">
  <div class="register-logo">
    <img src="dist/img/logotipo-abrafati.png">
  </div>
  <div class="register-box-body">
    <div class="alert" ng-class="typeMessage()" role="alert" ng-if="showErrorBox">
      <i class="fa fa-fw" ng-class="typeIconMessage()"></i> {{errorMessage}}
    </div>
    <form>
      <div class="form-group has-feedback" ng-class="hasEmailError ? 'has-error' : ''">
        <input type="email" class="form-control" placeholder="E-mail" ng-model="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="checkbox icheck">
            <label>
              <a href="#/login" class="text-center">Voltar para o Login</a>
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="recoverPassword()">Recuperar Senha</button>
        </div>
      </div>
    </form>
  </div>
</div>