<header class="main-header">
  <a href="#/home" class="logo">
    <span class="logo-mini"><img src="dist/img/logotipo-abrafati-min.png" style="width: 70%; margin: 26px 0;"></span>
    <span class="logo-lg"><img src="dist/img/logotipo-abrafati.png" style="width: 90%; margin: 10px 0;"></span>
  </a>
  <nav class="navbar navbar-static-top">
    <!-- <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a> -->

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="dist/img/user.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ nome-usuario }}</span>
          </a>
        </li>
        <li>
          <a href="#/login"><i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>