<aside class="main-sidebar">
  <section class="sidebar" ng-controller="navbar-controller">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <li class="">
        <a href="#/home"><i class="fa fa-home"></i> <span>Home</span></a>
      </li>
      <li class="" ng-click="treeviewGrupos()" ng-class="!menuOpenGrupos ? 'treeview' : 'treeview menu-open'">
        <a href="#/empresa-grupos">
          <i class="fa fa-group"></i> <span>Grupos</span>
        </a>
      </li>
      <li class="">
        <a href="#/selecao-comite">
          <i class="fa fa-group"></i> <span>Comitês</span>
        </a>
      </li>
      <!-- <li class="" ng-click="treeviewComites()" ng-class="!menuOpenComites ? 'treeview' : 'treeview menu-open'">
        <a href="#/selecao-comite">
          <i class="fa fa-group"></i> <span>Comitês</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" ng-style="!menuOpenComites ? {'display': 'none'} : {'display': 'block'}">
          <li><a href="#/selecao-comite"><i class="fa fa-circle-o"></i> Selecionar Comitês</a></li>
        </ul>
      </li> -->
      <li class="" ng-click="treeviewCadastro()" ng-class="!menuOpenCadastro ? 'treeview' : 'treeview menu-open'">
        <a href="">
          <i class="fa fa-address-book"></i> <span>Inclusão de Cadastro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" ng-style="!menuOpenCadastro ? {'display': 'none'} : {'display': 'block'}">
          <li><a href="#/cadastro-nova-empresa"><i class="fa fa-circle-o"></i> Nova Empresa</a></li>
          <li><a href="#/cadastro-novo-contato"><i class="fa fa-circle-o"></i> Novo Contato</a></li>
          <li ng-if="false"><a href="#/cadastro-nova-secretaria"><i class="fa fa-circle-o"></i> Nova Secretária</a></li>
        </ul>
      </li>
      <li class="" ng-click="treeviewEventos()" ng-class="!menuOpenEventos ? 'treeview' : 'treeview menu-open'">
        <a href="">
          <i class="fa fa-calendar"></i> <span>Eventos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" ng-style="!menuOpenEventos ? {'display': 'none'} : {'display': 'block'}">
          <li><a href="#/novo-evento"><i class="fa fa-circle-o"></i> Novo Evento</a></li>
          <li><a href="#/listar-evento"><i class="fa fa-circle-o"></i> Listar Evento</a></li>
          <li><a href="#/buscar-evento"><i class="fa fa-circle-o"></i> Buscar Evento</a></li>
        </ul>
      </li>
    </ul>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">SISTEMA</li>
      <li class="" ng-click="treeviewTabelas()" ng-class="!menuOpenTabelas ? 'treeview' : 'treeview menu-open'">
        <a href="">
          <i class="fa fa-table"></i> <span>Tabelas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" ng-style="!menuOpenTabelas ? {'display': 'none'} : {'display': 'block'}">
          <li><a href="#/area"><i class="fa fa-circle-o"></i> Área</a></li>
          <li><a href="#/campanha"><i class="fa fa-circle-o"></i> Campanha</a></li>
          <li><a href="#/campanha-telemarketing"><i class="fa fa-circle-o"></i> Campanha - Status TeleMKT</a></li>
          <li><a href="#/cargo"><i class="fa fa-circle-o"></i> Cargo</a></li>
          <li><a href="#/classificacao"><i class="fa fa-circle-o"></i> Classificação</a></li>
          <li><a href="#/coligada"><i class="fa fa-circle-o"></i> Coligada</a></li>
          <li><a href="#/comissao"><i class="fa fa-circle-o"></i> Comissão</a></li>
          <li><a href="#/departamento"><i class="fa fa-circle-o"></i> Departamento</a></li>
          <li><a href="#/grupos"><i class="fa fa-circle-o"></i> Grupos</a></li>
          <li><a href="#/motivo-inativacao-empresa"><i class="fa fa-circle-o"></i> Motivo da Inativação - Empresa</a></li>
          <li><a href="#/motivo-inativacao-contato"><i class="fa fa-circle-o"></i> Motivo da Inativação - Contato</a></li>
          <li><a href="#/status-telemarketing"><i class="fa fa-circle-o"></i> Status do Telemarketing</a></li>
          <li><a href="#/tipo-historico"><i class="fa fa-circle-o"></i> Tipo Histórico</a></li>
          <li><a href="#/tratamento"><i class="fa fa-circle-o"></i> Tratamento</a></li>
          <li><a href="#/categoria-empresa"><i class="fa fa-circle-o"></i> Categoria de Empresa</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#/relatorio"><i class="fa fa-dashboard"></i> <span>Relatório</span></a>
      </li>
      <li class="treeview" ng-click="treeviewSistema()" ng-class="!menuOpenSistema ? 'treeview' : 'treeview menu-open'">
        <a href="">
          <i class="fa fa-cogs"></i> <span>Sistema</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" ng-style="!menuOpenSistema ? {'display': 'none'} : {'display': 'block'}">
          <li><a href="#/cadastro-usuario"><i class="fa fa-circle-o"></i> Cadastro de Usuário</a></li>
          <li><a href="#/alterar-senha"><i class="fa fa-circle-o"></i> Alteração de Senha</a></li>
          <li><a href="#/manutencao-consultas"><i class="fa fa-circle-o"></i> Manutenção de Consultas</a></li>
        </ul>
      </li>
    </ul>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">TELEMARKETING</li>
      <li class="">
        <a href="#/proximo-telemarketing"><i class="fa fa-forward"></i> <span>Próximo Telemarketing</span></a>
      </li>
    </ul>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-sign-out"></i> <span>Sair</span>
        </a>
      </li>
    </ul>
  </section>
</aside>