<div class="content-wrapper">
  <section class="content-header">
    <h1>Relatório</h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href=""><i class="fa fa-dashboard"></i> Relatório</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Seleção de Relatório</h3>
          </div>
          <form role="form">
            <div class="box-body row">
              <div class="col-md-6 col-xs-12 form-group">
                <label>Evento</label>
                <select class="form-control select2" data-placeholder="">
                  <option value=""></option>
                  <option ng-repeat="relatorio in selecaoRelatorio" value="{{relatorio.id}}">{{relatorio.descricao}}</option>
                </select>
              </div>
            </div>
            <div class="box-footer">
              <button type="button" class="btn btn-primary pull-right" ng-click="pesquisarRelatorio()"><i class="fa fa-search fa-fw"></i>
                Pesquisar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-12" ng-if="resultadoSelecao">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Resultado da Busca</h3>
          </div>
          <div class="box-body">
            <table id="tblRelatorio" class="table table-bordered table-hover">
              <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Razão Social</th>
                <th>Endereço</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>UF</th>
                <th>CEP</th>
                <th>OPT Revista</th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>